.header{
    width: 100%;
    height: 80px;

    background-image: linear-gradient(to bottom right, rgb(172, 51, 51), rgb(243, 243, 243));
    margin-bottom: 50px;
    position: relative;
}

.header:hover{
    background-color: white;
}

.logo{
    font-size: 45px;
    margin-left: 40px;

    width: auto;
}